<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @babysitter.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @babysitter.lastname %>
</p>

<p>
  <strong>Document:</strong>
  <%= @babysitter.document %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @babysitter.startdate %>
</p>

<p>
  <strong>Maxcount:</strong>
  <%= @babysitter.maxcount %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @babysitter.resume %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @babysitter.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @babysitter.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @babysitter.password %>
</p>

<p>
  <strong>District:</strong>
  <%= @babysitter.district.name %>
</p>

<%= link_to 'Edit', edit_babysitter_path(@babysitter) %> |
<%= link_to 'Back', babysitters_path , :class => "btn"%>
