<p id="notice"><%= notice %></p>

<p>
  <strong>Phonenumber:</strong>
  <%= @babysitter.phonenumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @babysitter.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @babysitter.lastname %>
</p>

<p>
  <strong>Document:</strong>
  <%= @babysitter.document %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @babysitter.birthdate %>
</p>

<p>
  <strong>District:</strong>
  <%= @babysitter.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @babysitter.address %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @babysitter.startdate %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @babysitter.resume %>
</p>

<p>
  <strong>Maxcountchildren:</strong>
  <%= @babysitter.maxcountchildren %>
</p>

<%= link_to 'Edit', edit_babysitter_path(@babysitter) %> |
<%= link_to 'Back', babysitters_path %>
