<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :state %>
    <%= f.association :babysitter %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
